@import '@/variables';
@import '@/template';

.iconbox {
  max-width: 194px;
  height: 46px;
  display: flex;
  @include flex(row, flex-end, center);
  gap: 12px;
  .btnicon {
    background-color: $colorIconBackground;
    height: 46px;
    width: 46px;
    border: transparent;
    border-radius: 10px;
  }
  .fav {
    padding-top: 2.75px;
    width: 46px;
  }
  .active {
    background-color: $colorIconBackgroundActive;
  }
}
